<div class="card-section-2 bg-gray_bg p-8 rounded-2xl max-w-[384px] w-full shadow-[0px_4px_4px_0px_rgba(255,96,7,0.69)]">

    <!--    Images card-->
   <div>
       <picture>
           <img src="{=$imgLink}" alt="{=$altImg}" class="w-full h-40 mx-auto object-contain object-center"/>
       </picture>
   </div>


<!--    Description card-->
    <div class="mt-6 text-center">
        <h3 class="text-2xl uppercase font-semibold md:text-xl">{=$title}</h3>

        <p class="mt-2 text-xl max-w-[70%] mx-auto md:text-lg">{=$text}</p>
    </div>
</div>