<div class="text-white">
    <h3 class="font-semibold">{=$title}</h3>
    <ul class="text-gray_light mt-4 flex flex-col gap-2">
        <li><a href="!#" class="font-medium hover:underline">Ссылка</a></li>
        <li><a href="!#" class="font-medium hover:underline">Ссылка</a></li>
        <li><a href="!#" class="font-medium hover:underline">Ссылка</a></li>
        <li><a href="!#" class="font-medium hover:underline">Ссылка</a></li>
        <li><a href="!#" class="font-medium hover:underline">Ссылка</a></li>
        <li><a href="!#" class="font-medium hover:underline">Ссылка</a></li>
    </ul>
</div>