<li class="bg-white p-8 rounded-xl w-[300px] shadow-[0px_4px_4px_0px_rgba(255,96,7,0.69)]">

    <!--    Images card-->
            <div class="w-[212px] h-[150px] mx-auto">
                <picture>
                    <img src="{=$imgLink}" alt="{=$altImg}" class="w-full h-full object-contain object-center"/>
                </picture>
            </div>
    <!--    Description card-->
    <div class="mt-1">
        <p class="text-gray_medium font-medium">CA-2-3</p>
        <h3 class="mt-1 text-xl">Сумка-вставка для ящика модульного LinQ (10 л)</h3>
        <div class="flex gap-1.5 items-center text-green_success font-medium mt-1.5">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="5" height="6" viewBox="0 0 5 6" fill="none">
            <circle cx="2.5" cy="3" r="2.5" fill="#5FA800"/>
            </svg>
            </span>
            <p>В наличии 22 </p>
        </div>
        <p class="mt-1 text-2xl font-semibold">30 000 ₽ </p>
    </div>
</li>